# Production API Base URL
VITE_API_BASE_URL=https://onebite-bakery-platform.onrender.com/api/v1

# Google OAuth 2.0 Client ID (Public Client ID for frontend button)
VITE_GOOGLE_CLIENT_ID=405356185620-k0cr0j3rdpdgnl52n6jsobgfuv15j373.apps.googleusercontent.com

# Razorpay Key ID
VITE_RAZORPAY_KEY_ID=rzp_test_TLZEmewy1XtSK9
